<a href="https://colab.research.google.com/github/Gamakek/Univercity/blob/main/Tasks/Ex_Task_1.py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [3]:
numbers = ['1', '2', '3', '4', '5']
print(list(map(lambda x: int(x) ** 3, numbers)))

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [4]:
words = ['level', 'python', 'radar', 'world', 'rotor']
print(list(filter(lambda x: x[0] == x[-1], words)))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [5]:
from functools import reduce
numbers = [47, 11, 42, 102, 13]
print(reduce(lambda x, y: x if x > y else y, numbers))

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [7]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list(map(lambda x: (x[0] ** 2, x[1] ** 3), zip(list1, list2))))

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [16]:
from functools import reduce
numbers = '1,2,3,4,5,6,7,8,9,10'.split(',')
s = list(map(lambda x: int(x), numbers))
print(reduce(lambda x, y: x + y, filter(lambda x: x % 2 == 0, s)))

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [17]:
celsius = [0, 15, 30, 100]
print(list(map(lambda x: float(x) * (9/5) + 32, celsius)))

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 1, numbers))))

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [20]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
print(reduce(lambda x, y: x * y, numbers))

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [23]:
strings = ['10', '20', 'abc', '30', 'def']
print(list(map(lambda x: int(x) if x.isdigit() else 0, strings)))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [24]:
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

print(list(zip(x_coords, y_coords)))

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [26]:
words = ['apple', 'banana', 'cherry']

print(dict(map(lambda x: (x, len(x)), words)))

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [27]:
def p(x):
    d = []
    for i in range(1, int(x ** (1/2)) + 1):
        if x % i == 0:
            d.append(i)
            if i != x // i:
                d.append(x // i)
    if len(d) == 2:
      return 1
    else:
      return 0
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

print(list(filter(lambda x: p(x), numbers)))

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [28]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

print(list(map(lambda x: x[0] + x[1] + x[2], zip(list1, list2, list3))))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [37]:
from functools import reduce

text = 'Functional programming with lambda functions'.lower().replace(' ', '')

dct = reduce(lambda x, y: {**x, y: x.get(y, 0) + 1}, text.lower(), {})
print(max(dct, key=dct.get))

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [51]:
from functools import reduce

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
gls = 'yaeiou'

s = [i for i in ''.join(words)]

n = reduce(lambda x, y: x + y, map(lambda z: sum(map(lambda w: w in gls, z)), words))
print(n)

13

---